@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">

    <h1 class="display-4 mb-4">Welcome</h1>

    <img src="https://source.unsplash.com/1200x500/?technology,web,code"
         class="img-fluid rounded shadow"
         alt="Welcome Image" />

</div>